#container {
	margin-left: 2%;
    margin-top: 5%;
}

#header-navbar {
    background-color: #6f5499;
    z-index: 0;
}

#header-navbar a {
    color: white;
}

#header-navbar a:hover {
    color: #FFD700;
}
