.choice-row {
	margin-top: 0.5%;
}



#main-wrapper {
	margin-top: 5%;
}

#content-wrapper {
	float: right;
	width: 80%;
}

#sidebar-wrapper {
	float: left;
	width: 13%;
	margin-right: 2%;
}

#quiz-list {
	float: right;
	width: 20%;
	margin-right: 10%;

}

.quiz-question {
	border-bottom: yellow;
}

#quiz-now {
	float: left;
	width: 60%;
}

.quiz-submit {
	margin-bottom: 10px;
}
