.quiz-question {
	font-size: 1.75em;
}

.quiz-action {
	margin-bottom: 10px;
}

.quiz-label-answered {
	font-size: 15px;
}

.quiz-status {
	float: left;
	width: 5%;
}

.quiz-content {
	float: right;
	width: 90%;
	margin-left: 5%;
}