{% extends "base.html" %}

{% block title %}
{{ concept.name }} - {{ topic.name }}
{% endblock %}	


{% block css %}
	{% load compress %}
	{% compress css %}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/concept.css">
	{% endcompress %}
{% endblock %}


{% block current-path %}
	<li> <a href="/{{ topic.slug }}/">{{ topic.name }}</a>
	<li> <a href="/{{ topic.slug }}/{{ concept.slug }}/">{{ concept.name }}</a> </li>
{% endblock %}

{% block content %}

<div id="main-wrapper">

	<div class="progress progress-striped" id="concept-progress">
	    <div class="progress-bar progress-bar-success"></div>
	</div>

<div id="content-wrapper" class="container">

</div>


<div id="sidebar-wrapper" class="container">
   <ul class="nav nav-pills nav-stacked">
     
     <li id="resources-li">
     	<a href="/{{ topic.slug }}/{{ concept.slug }}/resources/" class="route-without-reload">
     		Resources
     	</a>
     </li>
     
     <li id="quiz-li">
     	<a href="/{{ topic.slug }}/{{ concept.slug }}/" class="route-without-reload">
     		Quizzes
     	</a>
     </li>
     
     <li id="stats-li">
     	<a href="/{{ topic.slug }}/{{ concept.slug }}/stats/" class="route-without-reload">
     		Stats
     	</a>
     </li>
   </ul>
 </div>

</div>



{% endblock %}

<!-- Objects initialized by server before pageLoad -->
{% block js_objects %}
	quizData = {{ json_attrs | safe }}
	conceptId = {{ concept.id }}
	topicSlug = "{{ topic.slug }}"
{% endblock %}


{% block templates %}

<script type="text/html" id="quiz-container-template">
	<div id="quiz-container-view">
		<div id="quiz-list">
			<table class="table table-striped">
				<thead>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="quiz-now">
		</div>
	</div>
</script>


<script type="text/html" id="done-template">
	<div>
	<h2> Congratulations! You have answered all questions correctly </h2>
	<h2> Up Next: </h2>
	<h2> <a href="<%= url %>"> <%= name %> </a></h2>
	</div>
</script>

{% include "quiz-templates.html" %}
{% include "resources.html" %}
{% include "attempts.html" %}

{% endblock %}




{% block js %}
{% load compress %}
{% compress js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/concept-page.js"> </script>
{% endcompress %}

	<script type="text/javascript">
		App = App || {}
		App.topicSlug = "{{ topic.slug }}"
		App.conceptSlug = "{{ concept.slug }}"
	</script>

{% endblock %}


