{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/concept.css">
{% endblock %}

{% block current-path %}
	<li> <a href="/{{ topic.slug }}/">{{ topic.name }}</a>
	<li> <a href="/{{ topic.slug }}/{{ concept.slug }}/">{{ concept.name }}</a> </li>
{% endblock %}

{% block content %}

<div id="main-wrapper">

<div id="content-wrapper" class="container">

</div>


<div id="sidebar-wrapper" class="container">
   <ul class="nav nav-pills nav-stacked">
     <li id="resources-li"><a href="#resources">Resources</a></li>
     <li id="quiz-li"><a href="#">Quizzes</a></li>
     <li id="stats-li"><a href="#stats">Stats</a></li>
   </ul>
 </div>

</div>

{% endblock %}

<!-- Objects initialized by server before pageLoad -->
{% block js_objects %}
	quizData = {{ json_attrs | safe }}
	conceptId = {{ concept.id }}
{% endblock %}


{% block templates %}

<script type="text/html" id="quiz-container-template">
	<div id="quiz-container-view">
		<div id="quiz-list">
			<table class="table table-striped">
				<thead>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="quiz-now">
		</div>
	</div>
</script>

<script type="text/html" id="quiz-snippet-template">
		<td> 
		<% if(answered) { %>
			<span class="label label-success label-answered">✓</span>
		<% } %>
		</td>
		<td><a href="#quiz/<%= id %>"><%= question %> </a></td>
</script>

<script type="text/html" id="quiz-basic-attempt-template">
		<td><%= guess %></td>
		<td><%= result %></td>
</script>



<script type="text/html" id="single-quiz-template">
	
	<div class="quiz-question"> 
	<% if(answered) { %>
		<span class="label label-success label-answered">✓</span>
	<% } %>
	<div>
	<%= question %> 
	</div>
	
	<% if(isMCQ) { %>
		<div class="choices">
		</div>
	<% } else { %>
		<div class="row">
		<div class="col-lg-4">
			<input type="text" class="quiz-guess form-control">
		</div>
		</div>
	<% } %>
	<br/>
	<% if(!answered) { %>
		<button class="quiz-action quiz-submit btn btn-primary">Submit</button>

	<% }  else { %>
		<button class="quiz-action quiz-next btn btn-success">Next</button>
	<% }  %>
	<br/>

	<span class="quiz-wrong-submit">
	 <a href="#resources" class="quiz-review"> Oops.. Wrong answer. Review.</a>
	</span>

	<table class="table table-striped table-bordered">
		<thead>
		<th>Guess</th>
		<th>Result</th>
		</thead>
		<tbody>
		</tbody>
	</table>

</script>


<script type="text/html" id="choice-template">
	<div class="row choice-row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <span class="input-group-addon">
	        <input type="checkbox" id="choice-<%= cid %>">
	      </span>
	      <label for="choice-<%= cid %>" class="form-control"> <%= text %> </label>
	    </div>
	  </div>
	</div>
</script>

{% include "resources.html" %}
{% include "attempts.html" %}

{% endblock %}




{% block js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/Markdown.Converter.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/resources.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/quiz.js"> </script>

{% endblock %}
