{% extends "base.html" %}

{% block title %}
    ConceptGrapher
{% endblock %}

{% block content %}

<h2>
    Welcome to ConceptGrapher!
</h2>



    This app was born when I noticed that tutorials and documentations on the web 
    don't really assess whether you've mastered the material. <br/>
    Also, when you browse a site like Wikipedia to learn about a particular concept, you end up 
    opening multiple articles that usually aren't necessary to understand the concept.
    <br/><br/>
    ConceptGrapher complements these resources by assessing your existing skills in a particular topic and then helping you navigate through the tutorial by checking your answers to quizzes. <br/>

    <h4> How does it work?</h4>
    ConceptGrapher works by breaking down a particular topic into atomic concepts and 
    creating a dependency graph among the concepts. <br/>
    Let's take python as an example. You need to understand what a <i>function</i> does
    before learning about <i>keyword arguments</i>. So <i>function</i> is a prerequisite to <i>keyword 
    arguments</i>.<br/><br/>

    Similar relationships are created among other concepts in the topic. Finally, the concepts are 
    sorted topologically to navigate you through the tutorial in the right order.

    <br/> <br/>
    Sounds interesting? Get Started with the <a href="/python/">Python 2.7 Tutorial! </a>

    <!-- GITHUB FORK -->
    <a href="https://github.com/pramodliv1/conceptgrapher"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>


{% endblock %}

