<script type="text/html" id="choice-template">
	<div class="row choice-row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <% if(hasMultipleAnswers) { %>
	      	<span class="input-group-addon">
	        	<input type="checkbox" id="choice-<%= cid %>">
	      	</span>
	      	<label for="choice-<%= cid %>" class="form-control"> <%= text %> </label>
	      <% } else { %>
	      		<span class="input-group-addon">
	      	 		<input type="radio" name="quiz-<%= quizId %>" id="choice-<%= cid %>">
	      	 	</span>
	      	 	<label for="choice-<%= cid %>" class="form-control"> <%= text %> </label>
	      <% } %>

	    </div>
	  </div>
	</div>
</script>



<script type="text/html" id="quiz-snippet-template">
		<td> 
		<% if(answered) { %>
			<span class="label label-success label-answered">✓</span>
		<% } %>
		</td>
		<td><a href="#quiz/<%= id %>"><%= question %> </a></td>
</script>

<script type="text/html" id="quiz-basic-attempt-template">
		<td><%= guess %></td>
		<td><%= result %></td>
</script>



<script type="text/html" id="single-quiz-template">
	
	<div class="quiz-question"> 
	<% if(answered) { %>
		<span class="label label-success label-answered">✓</span>
	<% } %>
	<div>
	<%= question %> 
	</div>
	
	<% if(isMCQ) { %>
		<div class="choices">
		</div>
	<% } else { %>
		<div class="row">
		<div class="col-lg-4">
			<input type="text" class="quiz-guess form-control">
		</div>
		</div>
	<% } %>
	<br/>
	<% if(!answered) { %>
		<button class="quiz-action quiz-submit btn btn-primary">Submit</button>

	<% }  else { %>
		<button class="quiz-action quiz-next btn btn-default">Next</button>
	<% }  %>
	<br/>

	<span class="quiz-wrong-submit">
	 <a href="#resources" class="quiz-review"> Oops.. Wrong answer. Review.</a>
	</span>


	<table class="table table-striped table-bordered">
		<thead>
		<th>Guess</th>
		<th>Result</th>
		</thead>
		<tbody>
		</tbody>
	</table>

</script>


