{% extends "base.html" %}
	
{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/topic.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/quiz.css">
{% endblock %}


{% block content %}

<div id="content-wrapper" class="container">

</div>



{% endblock %}


{% block js_objects %}
	conceptsPlusQuizzes = {{ concepts_with_quizzes | safe }}
	concepts = {{ concepts | safe }}
	stats = {{ stats | safe }}
	topicSlug = "{{ topic.slug }}"
	
{%endblock %}

{% block templates %}
	{% include "quiz-templates.html" %}

<script type="text/html" id="quiz-container-template">
	<h2> Try to answer these questions to see where you are </h2>
	<div id="quiz-container">
		<h2 id="now-concept"> </h2>
		<div class="now-quiz">
		</div>
	</div>
</script>

<script type="text/html" id="topic-dashboard-template">
	<div id="stats-table">
	</div>	
</script>

<script type="text/html" id="concept-stats-template">
	<td>
		<a href="<%= url %>"> <%= name %> </a>
		<% if(progress == 1) {%>
			<span class="label label-success label-concept-success">✓</span>
		<% } %>	
		
	</td>	
	<td>
		<%= quiz_count %>
	</td>
	<td>
		<%= results.correct %>
	</td>
</script>

{% endblock %}



{% block js %}
	{% include "quiz-js.html" %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/analyze.js"> </script>
{% endblock %}



