{% extends "base.html" %}
	
{% block content %}
In the order of learning:
{% for concept in concepts %}
	<li>
		<h3><a href="{{ concept.slug }}/"> {{ concept.name }} </a></h3>
	</li>
{% endfor %}

{% endblock %}


{% block js_objects %}
	conceptsPlusQuizzes = {{ concepts_with_quizzes | safe }}
{%endblock %}

{% block templates %}
	{% include "quiz-templates.html" %}
{% endblock %}



{% block js %}
	{% include "quiz-js.html" %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/analyze.js"> </script>
{% endblock %}



